<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="container">
        <div id="header">
            <div id="monthDisplay">

            </div>
            <div>
                <button id="backButton">Anterior</button>
                <button id="nextButton">Próximo</button>
            </div>
        </div>

        <div id="weekdays">
            <div>Domingo</div>
            <div>Segunda</div>
            <div>Terça</div>
            <div>Quarta</div>
            <div>Quinta</div>
            <div>Sexta</div>
            <div>Sábado</div>
        </div>

        <div id="calendar"></div>

        <div id="newEventModal">
            <h2>Reservar</h2>

            <form action="/events/save" method="post">
                <select name="inputType" id="eventTitleInput">
                    <option value="Reservado">Reserva</option>
                    <option value="Interessado">Interesse</option>
                </select>
                <input type="hidden" name="date" id="date">

                <button id="saveButton">Salvar</button>
                <button type="button" id="cancelButton">Cancelar</button>
            </form>
        </div>

        <div id="modalBackDrop"></div>
    </div>
</body>

<script src="/js/script.js"></script>
</html>